<i class="fa fa-align-justify fa-2x menu-icon"></i>

<div id="sidebar-content" class="closed">
  <h3 class="logo ">FeedMe</h3>

  <a href="#/users/edit" class="user-link sidebar-link">
    <%= user.escape("username") %>
  <a>

  <button class="logout">logout</button>

  <ul class="nav-list">
    <li class="nav-list-item">
      <a href="/#/feeds/new" class="sidebar-link">Add New Feed</a>
    </li>
    <li class="nav-list-item">
      <a href="/#/feeds" class="sidebar-link">All Feeds</a>
    </li>
    <li class="nav-list-item">
      <a href="/#/entries" class="sidebar-link">All Entries</a>
    </li>
    <li class="nav-list-item">
      <a href="/#/categories" class="sidebar-link">Categories</a>
    </li>
    <li class="nav-list-item">
      <a href="/#/entries/recent" class="sidebar-link"> Recently Read Entries</a>
    </li>
    <li class="nav-list-item">
      <a href="/#/users" class="sidebar-link">Find Curators</a>
    </li>
    <li class="nav-list-item">
      <a href="#" class="key-command-open" class="sidebar-link">Keyboard Commands</a>
    </li>
  </ul>
</div>
