  <h3 class="logo">FeedMe</h3>

    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="#/users/new">Sign Up</a>
      </li>
      <li class="nav-list-item">
        <a href="#/session/new">Sign In</a>
      </li>
    </ul>
