<h1>FeedMe Password Reset</h1>

<p>Hi!</p>

<p>You've receied this email because you requested a password reset for FeedMe. If you did not request a password reset be careful! Something nefarious might be going on...</p>

<p>Click the link below to go to your profile edit page, where you can change your password.</p>

<a href="<%= reset_api_user_url(@user) + "?reset_token=#{@user.reset_token}" %>">Click Me!</a>

<p>It'll only work once! Then you'll need to make another reset request!</p>

<p>Best,</p>

<p>The FeedMe team</p>
