<h2>FeedMe Username Request:</h2>

<p>Hi!</p>

<p>Your FeedMe username is: <%= @user.username %></p>

<p> Please <a href="<%= root_url >">click here</a>
to login.</p>

<p>Thanks!</p>

<p>The FeedMe Team</p>
