<div class=modal-background></div>

<section class=modal>
  <header>
    <h1 class="page-title">Keyboard Commands</h1>
  </header>

  <ul class="gen-list key-list">

    <li class="gen-list-item key-list-item">
      <label class="gen-list-label">p</label>
      <p class= "key-explanation">Previous Entry</p>
    </li>

    <li class="gen-list-item key-list-item">
      <label class="gen-list-label">n</label>
      <p class= "key-explanation">Next Entry</p>
    </li>

    <li class="gen-list-item key-list-item">
      <label class="gen-list-label">v</label>
      <p class= "key-explanation">Toggle Entry Display</p>
    </li>

    <li class="gen-list-item key-list-item">
      <label class="gen-list-label">o</label>
      <p class= "key-explanation">Open Original in a New Tab</p>
    </li>

  </ul>

  <button class="close-modal">Close</button>
  
</section>
