<div class="mouth-container">
  <img class="mouth-icon" src='<%= image_path('mouth.svg') %>'>
</div>

<h1 class="banner">Fe<em>e</em>d<em>M</em>e</h1>

<p class="splash-text">read <em>&</em> share: an aggregator <em>&</em> internet curator!</p>
