<form class="user-edit-form">

  <label for="user_fname">First Name:</label>
  <input type="text" name="user[fname]" id="user_fname" value="<%= user.escape('fname') %>">

  <label for="user_lname">Last Name:</label>
  <input type="text" name="user[lname]" id="user_lname" value="<%= user.escape('lname') %>">

  <label for="user_email">Email:</label>
  <input type="text" name="user[email]" value="<%= user.escape('email') %>">

  <label for="user_description">About You:</label>
  <textarea name="user[description]" id="user_description"><%= user.escape('description') %></textarea>

  <input type="submit" value="Update!">

</form>
