<header>
  <h1 class="page-title">All Your Feeds</h1>
</header>

<ul class="feed-list">
  <% feeds.forEach( function(feed) { %>
  <li class="feed-list-item group">
    <a href="#/feeds/<%=feed.id%>" class="feed-link">
      <%= feed.escape("name") %>
    </a>
    <button class="remove-feed" data-id=<%=feed.id%>>x</button>
  </li>
  <% }); %>

</ul>
