<header>
  <h1 class="page-title">Add A New Feed</h1>
</header>

<form>
  <label for="feed_url">Feed url:</label>
  <input type="text" id="feed_url" name="feed[url]" value="">

  <input type="submit" value="Add Feed">
<form>
