/* Flash */

/* notifications */

.message {
  position: absolute;
  font-size: 20px;
  width: 400px;
  text-align: center;
  margin-left: 220px;
  margin-top: 20px;
  padding: 5px 10px;
  z-index: 1;
}

.notice-message {
  color: #61A06E;
  border: 1px solid #61A06E;
  background: #C9E5CC;
  opacity: ..75;
  border-radius: 5px;
}

.error-message {
  color: #8B72AA;
  border: 1px solid #8B72AA;
  background: #E5D7F7;
  opacity: .75;
  border-radius: 5px;
}
