/* Main Layout */

section.content {
  min-height: 500px;
  position: relative;
  font-weight: 16px;

}

main.display {
  position: absolute;
  left: 81px;
  right: 0px;
  top: 0px;
  min-height: 500px;
  padding: 20px;
}

header {
  margin-bottom: 30px;
  display: block;

}
.progressbar-container {
  position: fixed;
  bottom: 0;
  left: 81px;
  right: 0;

}

.page-title {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 36px;
  text-align: center;
}


/* Splash Page */

.banner {
  font-size: 84px;
  text-align: center;
  width: 400px;
  padding: 50px;
  margin: auto;
  margin-top: 100px;

  font-weight: bold;
}

.splash-text {
  font-size: 36px;
  text-align: center;
  display: block;
  padding: 25px 100px
}
