/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  background: #ccc;
  border-right: 1px solid grey;
  padding: 20px;
  transition: width 0.4s ease;
}


.logo {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  text-align: center;
}



.sidebar .nav-list {
  margin-top: 30px;
  font-variant: small-caps;
  font-weight: bold;
}

.sidebar:hover > .menu-icon {
  display: none;
}

.menu-icon {
  display: block;
  width: 30px;
  margin: auto;
}
.nav-list-item {
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #999;
  margin-bottom: 10px;
}

.sidebar-link {
  display: block;
}

.user-link {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.sidebar-form {
  border: 0;
  padding: 0px;
  margin: 0px auto;
}

.logout {
  display: block;
  background: #ddd;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px auto;
}

.logout:hover {
  background: #999;
  color: #ccc;
}

.demo-user-form {
  padding: 0;
  margin: 0;
}

.demo-user-form input.demo-user-submit {
  margin: 0;
  padding: 2px;
  width: 130px;
}


.sidebar:hover {
  width: 150px;
}
