/* Colors:

notice green: #35D4B7
error red:    #
everything pink: #f280a1 */

/* reset */

div, section, article, main, h1, h2, h3, h4, p, a, form, button, input,
     body, ul, li, em {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

button:focus {
  outline: none;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus {
  outline: none;
  border-color: #f280a1;
}

input[type=password]:focus {
  outline: none;
  border-color:  #f280a1;
}



/* general styles */

.group::after {
  content: "";
  display: block;
  clear: both;
}

.closed {
  display: none;
}

ul {
  list-style: none;
}

em {
  color: #f280a1;
}

a:hover {
  color: #f280a1;
}

section.content {
  min-height: 500px;
  position: relative;
  font-weight: 16px;
}

.delete {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}

.delete:hover {
  color: #f280a1;
  cursor: pointer;
}

.selected {
  background: #ddd;
}

.message {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  width: 400px;
  text-align: center;
  margin-left: 220px;
  margin-top: 20px;
  padding: 5px 10px;
  z-index: 1;
}


/* forms */

form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px 40px;
  margin: 0px auto;
}

form label {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
}

form input[type=text], input[type=password] {
  display: block;
  width: 300px;
  margin: 20px auto;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
}

form input[type=submit] {
  width: 100px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  text-align: center;
  display: block;
  cursor: pointer;
}

form input[type=submit]:hover {
  background: #999;
}

/* Generic Lists */

.gen-list-item:last-child {
  border: 0;
}

.gen-list-item a {
  display: block;
  float: left;
  text-align: center;
  font-size: 24px;
}

.gen-list{
  width: 400px;
  display: block;
  float: left;
  margin-left: 150px;
  margin-top: 30px;
}


.gen-list-header{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  margin-top: 20px;
}

.gen-list {
  display: block;
  float: left;
  width: 400px;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto;
}

/* sidebar */

nav.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  background: #ccc;
  border-right: 1px solid grey;
  padding: 20px;

}

.logo {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 30px;
  font-variant: small-caps;
}

.nav-list-item {
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #999;
  margin-bottom: 10px;
}

nav.sidebar a {
  display: block;
}

a.user-link {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

nav a:hover {
  color: #999;
}

.sidebar-form {
    border: 0;
    padding: 0px;
    margin: 0px auto;
}

.logout {
  display: block;
  background: #ddd;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px auto;
}

.logout:hover {
  background: #999;
  color: #ccc;
}


/* main content */

main.display {
  position: absolute;
  left: 191px;
  right: 0px;
  top: 0px;
  min-height: 500px;
  padding: 20px;
}

header {
  margin-bottom: 30px;
  display: block;

}

.page-title {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 36px;
  text-align: center;
}

/* Entry Lists */

ul.entry-list {
  border-top: 1px solid #999;
  width: 1000px;
  margin: 0px auto;
  padding-top: 30px;
}

.entry-list-elem {
  padding: 5px;
  border-bottom: 1px dotted #999;
}

.entry-list-elem:hover {
  background: #ccc;
}

.entry-list-elem .entry-feed {
  color: #666;
  display: block;
  width: 250px;
  float: left;
}

.entry-list-elem .entry-title {
  display: block;
  width: 650px;
  padding-left: 5px;
  float: left;
}

.entry-list-elem time {
  color: #f280a1;   /* Light pink */
  display: block;
  float: left;
  width: 75px;
  padding-left: 5px;
}

/* entry show styles */

article.entry {
  margin: 20px auto;
  padding: 20px 0;
  width: 850px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.entry .link-to-original {
  display: block;
  color: #f280a1;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px
}

.entry img {
  margin-top: 5px;
  margin-bottom: 5px;
}

.entry div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.entry p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.entry-author {
  display: block;
  color: #f280a1;
  text-align: center;
  margin-top: 10px;
}

/* feed list styles (maybe some should be general list styles?) */

.feed-list {
  display: block;
  width: 700px;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto;
}

.feed-list-item {
  padding: 10px 0px;
  border-bottom: 1px dotted #999;
}

.feed-list-item:last-child {
  border: 0;
}


.feed-list-item .remove-feed {
  display: block;
  float: right;
  margin-top: 2px;
}


/* Category list and edit styles */
.category-list-item {
  display: block;
  width: 400px;
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: 30px;
}

.category-list-item .category-title {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.category-list-item .delete {
  display: block;
  float: right;
}

.category-list-item .edit {
  display: block;
  float: right;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #999;
}

.category-list-item .edit:hover {
  color: #f280a1;
}

.category-list-item.highlighted {
  border: 1px solid #f280a1;
}

.category-feed-item {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px dotted #999;
}

.category-feed-label {
  display: block;
  float: left;
  width: 270px;
  height: 20px;
  overflow: hidden;
}

.cat-list-container {
  display: block;
  float: right;
  width: 400px;
  margin-right: 150px;
  margin-top: 30px;
}


.cat-feed-list-container {
  width: 400px;
  margin-left: 150px;
  margin-top: 50px;
}

.cat-feed-list {
  width: 400px;
}


.cat-list-item {
  width: 400px;
}

.new-category {
  display: block;
  width: 400px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #999;
}

.new-category > label {
  display: block;
}

.new-category:hover {
  border: 1px solid #f280a1;
}
.new-category form.new-cat-form {
  background: #eee;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

form.new-cat-form input {
  background: white;
}

form.new-cat-form input[type=text] {
  width: 220px;
  display: block;
  border: 1px solid #ccc;
}


/* Splash Page */

.banner {
  font-size: 84px;
  text-align: center;
  width: 700px;
  padding: 50px 100px;
  margin: auto;
  margin-top: 100px;

  font-weight: bold;
}

.splash-text {
  font-size: 36px;
  text-align: center;
  display: block;
  padding: 25px 100px
}

/* user Profiles */

.user-edit-form {
  width: 1200px;
}

.profile-left {
  display: block;
  float: left;
  width: 500px;
}

.profile-right {
  display: block;
  float: right;
  width: 700px;
}
.user-edit-form textarea {
  display: block;
  padding: 5px 10px;
  outline: none;
  height: 200px;
  width: 200px;
  border: 1px solid #999;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;

}
.profile-pic img {
  width: 250px;
  height:250px;
  display: block;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 20px auto;

}

.user-image-input {
  display: block;
  margin: auto;
  padding-bottom :20px;
}

.user-edit-form button {
  display:block;
}

.user-label {
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
}

.user-info {
  font-size: 24px;
  padding: 20px 60px;
}

p.user-description {
  width: 500px;
  margin-left: 100px;
  margin-top: 20px
}

.show-user button {
   padding: 80px 160px;
   font-size: 24px;
   font-variant: small-caps;
   border: 1px solid #999;
   border-radius: 5px;
   margin-top: 50px;
   background: #eee;
}

.show-user button:hover {
  background: #f280a1;
  color: #555;
}

/* Users Index */

.user-list {
  display: block;
  float: left;
  margin-right: 20px;
  width: 300px;
}

.user-list-item {
  display: block;
  padding: 5px;
  border-bottom: 1px dotted #999
}

.user-list-item:last-child {
  border-bottom: 0;
}

.user-list-container {
  display: block;
  width: 1100px;
  margin: auto;
}

/* Modals */

.modal-background {
  background:  #aaa;
  opacity: .6;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  height: 420px;
  width: 600px;
  background: #fff;
  z-index: 1;
  position: fixed;
  margin-left: -300px;
  left: 50%;
  margin-top: -250px;
  top: 50%;
  border-radius: 5px;
  padding: 20px 10px;
  border: 1px solid #999;
  text-align: center;
}

.modal label {
  font-weight: bold;
}

.modal p {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dotted #ccc;
}


.close-modal {
  padding: 20px 40px;
  border: 1px solid #f280a1;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.close-modal:hover {
  background: #777;
  color: #ccc;
}

.key-list {
    display: block;
    width: 500px;
    margin: 20px;
    margin-left: 30px;

}

/* Flash */

.notice-message {
  color:  #84D66F;
  border: 1px solid #5DAD49;
  background: #ccc;
  opacity: .9;
  border-radius: 5px;
  text-shadow: 1px 1px #666, 1px -1px #666, -1px -1px #666, -1px 1px #666;
}

.error-message {
  color:  #6EC9D4;
  border: 1px solid #59A3AB;
  background: #ccc;
  opacity: .9;
  border-radius: 5px;
  text-shadow: 1px 1px #666, 1px -1px #666, -1px -1px #666, -1px 1px #666;
}
