/* reset */

div, section, article, main, h1, h2, h3, h4, p, a, form, button, input,
     body, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

/* general styles */

.group::after {
  content: "";
  display: block;
  clear: both;
}

.closed {
  display: none;
}

ul {
  list-style: none;
}


section.content {
  min-height: 500px;
  position: relative;
  font-weight: 16px;
}

form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px 40px;
  margin: 0px auto;
}

form label {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
}

form input[type=text], input[type=password] {
  display: block;
  width: 300px;
  margin: 20px auto;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
}

form input[type=submit] {
  width: 100px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  text-align: center;
  display: block;
  cursor: pointer;
}

form input[type=submit]:hover {
  background: #999;
}

/* sidebar */

nav.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  background: #ccc;
  border-right: 1px solid grey;
  padding: 20px;

}

.logo {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 30px;
  font-variant: small-caps;
}

.nav-list-item {
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #999;
  margin-bottom: 10px;
}

nav.sidebar a {
  display: block;
}

a.user-link {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

nav a:hover {
  color: #999;
}

.sidebar-form {
    border: 0;
    padding: 0px;
    margin: 0px auto;
}

.logout {
  }

.logout:hover {
  background: #999;
  color: #ccc;
}


/* main content */

main.display {
  position: absolute;
  left: 191px;
  right: 0px;
  top: 0px;
  min-height: 500px;
  padding: 20px;
}

header {
  margin-bottom: 30px;
  display: block;

}

.page-title {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 36px;
  text-align: center;
}
