/* user Profiles */

.user-edit-form {
  width: 1300px;
  border: 0;
}

.profile-group {
  display: block;
  float: left;
  width: 500px;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
}

.profile-comments {
  display: block;
  float: left;
  width: 500px;
  margin-left: 30px;
  padding: 20px;
}

.user-edit-form textarea {
  display: block;
  padding: 5px 10px;
  height: 200px;
  width: 200px;
  border: 1px solid #999;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;

}
.profile-pic img {
  width: 250px;
  height:250px;
  display: block;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 20px auto;

}

.user-image-input {
  display: block;
  margin: auto;
  padding-bottom :20px;
}

.user-edit-form button {
  display:block;
}

.user-label {
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
}

.user-info {
  font-size: 24px;
  padding: 5px 60px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #ccc;
}

p.user-description {
  width: 400px;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 20px auto;
}

.follow-btn {
  padding: 80px 160px;
  width: 300px;
  font-size: 24px;
  font-variant: small-caps;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  background: #eee;
}

.follow-btn:hover {
  background: #f280a1;
  color: #555;
}

/* Users Index */

.user-list {
  display: block;
  float: left;
  margin-right: 20px;
  width: 300px;
}

.user-list-item {
  display: block;
  padding: 5px;
  border-bottom: 1px dotted #999
}

.user-list-item:last-child {
  border-bottom: 0;
}

.user-list-container {
  display: block;
  width: 1100px;
  margin: auto;
}

@media (max-width: 1300px) {
  .user-list-container {
    width: 800px;
  }
}

@media (max-width: 930px) {
   .user-list-container {
     width: 500px;
   }
}
