<header>
  <h1 class="page-title">Categories</h1>
</header>

<section class="cat-list-container">
  <section class="new-category">
    <label> New Category</label>
  </section>
  <ul class="category-list group">
  </ul>
</section>
