<header>
  <h1 class="page-title">Login</h1>
</header>

<form>

  <label for="user_username">Username:</label>
  <input type="text" id="user_username" name="user[username]" value="">

  <label for="user_password">Password:</label>
  <input type="password" id="user_password" name="user[password]" value="">

  <input type="submit" value="Login">

</form>

<button class="test-user" id="test-user">Test User</button>
