<header>
  <h1 class="page-title">Email Username</h1>
</header>

<form>

  <label for="user_email">Email:</label>
  <input type="text" id="user_email" name="user[email]">
  <input type="submit" value="Send!">

</form>
